[submodule "eigen3"]
	path = eigen3
	url = https://gitlab.com/libeigen/eigen.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "EigenRand"]
	path = EigenRand
	url = https://github.com/bab2min/EigenRand
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
